﻿@{ 
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
}

<div class="text-center pb-3 pt-3">
    <div>
        <h2>Empleados</h2>
    </div>

    @using (Html.BeginForm("CargarEmpleados", "Empleado", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <p>Cargar empleados(.xml)</p>
        <input type="file" name="file" />
        <input type="submit" name="Submit" id="Submit" value="Subir" />
    }
</div>

<div>
    <table class="table table-bordered text-center table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">NIT</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Contraseña</th>
                <th scope="col">Fecha Nac.</th>
                <th scope="col">Número de domicilio</th>
                <th scope="col">Número de celular</th>
                <th scope="col">Correo</th>
                <th scope="col">Dirección</th>
            </tr>
        </thead>
        

        @for (int i = 0; i < Model.Rows.Count; i++)
        {
            <tr>
                <td>@Model.Rows[i][0]</td>
                <td>@Model.Rows[i][1]</td>
                <td>@Model.Rows[i][2]</td>
                <td>@Model.Rows[i][3]</td>
                <td>@Model.Rows[i][4]</td>
                <td>@Model.Rows[i][5]</td>
                <td>@Model.Rows[i][6]</td>
                <td>@Model.Rows[i][7]</td>
                <td>@Model.Rows[i][8]</td>
            </tr>
        }

    </table>
</div>


<a class="btn btn-primary" href="@Url.Action("Create", "Empleado")">Agregar empleado</a>