﻿@model Fase2_ipcvacas.Models.ViewModels.EmpleadoViewModel
@{
    if (Session["userPuesto"].ToString().Equals("Vendedor"))
    {
        Layout = "~/Views/Shared/_VendedorLayout.cshtml";
    }
    else if (Session["userPuesto"].ToString().Equals("Gerente") || Session["userPuesto"].ToString().Equals("Supervisor"))
    {
        Layout = "~/Views/Shared/_EmpleadoLayout.cshtml";
    }
}

<div>
    <h1>@Model.correo</h1>
</div>