﻿@model List<Fase2_ipcvacas.Models.ViewModels.ProductoViewModel>

<!-- Modal
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Productos en la lista</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->

<table class="table table-bordered text-center">
    <thead class="thead-light">
        <tr>
            <th scope="col">#Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Desc.</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.id</th>
                <th>@item.nombre</th>
                <th>@item.descripcion</th>
            </tr>
        }
    </tbody>
</table>