﻿@model System.Data.DataTable
@{
    ViewBag.Title = "IncioProductos";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    System.Data.DataTable ListasPrecios = Session["ListasPrecios"] as System.Data.DataTable;
}

<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <h2>Productos</h2>
            </div>

            <div class="text-center pb-3">
                @using (Html.BeginForm("CargarProductos", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <p>Cargar productos(.xml)</p>
                    <input type="file" name="file" />
                    <input type="submit" value="Subir" />
                }
            </div>
                <table class="table table-bordered text-center table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#Código</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">ID Lista</th>
                            <th scope="col">Categoría</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (int i = 0; i < Model.Rows.Count; i++)
                        {
                            <tr>
                                <th scope="row">@Model.Rows[i][0]</th>
                                <td>@Model.Rows[i][1]</td>
                                <td>@Model.Rows[i][2]</td>
                                <td>@Model.Rows[i][3]</td>
                                <td>@Model.Rows[i][4]</td>
                                <td>
                                    <a class="btn btn-info btn-sm">Comentario</a>
                                </td>
                            </tr>
                        }
                        
                    </tbody>

                </table>

        </div>

        <div class="col-md-6">
            <div class="text-center">
                <h2>Listas de precios</h2>
            </div>

            <div class="text-center pb-3">
                @using (Html.BeginForm("CargarListas", "Producto", FormMethod.Post, new { enctype = "multiplatform/form-data" }))
                {
                    <p>Cargar listas(.xml)</p>
                    <input type="file" name="file" />
                    <input type="submit" name="Submit" id="Submit" value="Subir" />
                }
            </div>

            <table class="table table-bordered text-center">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#Código</th>
                        <th scope="col">Fecha de inico</th>
                        <th scope="col">Fecha de vencimiento</th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody>
                    @for (int i = 0; i < ListasPrecios.Rows.Count; i++)
                    {
                        <tr>
                            <th scope="row">@ListasPrecios.Rows[i][0]</th>
                            <td>@ListasPrecios.Rows[i][1]</td>
                            <td>@ListasPrecios.Rows[i][2]</td>
                            <td>
                                @if (((bool)ListasPrecios.Rows[i][3] == true))
                                {
                                    <a class="btn btn-danger" href="@Url.Action("DeshabilitarLista", "Producto", new { idlista = ListasPrecios.Rows[i][0] })">Deshabilitar</a>
                                }
                                else
                                {
                                    <a class="btn btn-warning" href="@Url.Action("HabilitarLista", "Producto", new { idlista = ListasPrecios.Rows[i][0] })">Habilitar</a>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>