﻿@model Fase2_ipcvacas.Models.ViewModels.AdminViewModel
@{
    ViewBag.Title = "IncioAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    //var lst = Session["CategoriasProductos"] as List<Fase2_ipcvacas.Models.ViewModels.CategoriaProductoViewModel>;
}

<h2>IncioAdmin</h2>

<div>
    <h1>@Model.Nombre</h1>
</div>