﻿@model Fase2_ipcvacas.Models.ViewModels.OrdenViewModel
@{
    if (Session["userPuesto"].ToString().Equals("Vendedor"))
    {
        Layout = "~/Views/Shared/_VendedorLayout.cshtml";
    }
    else if (Session["userPuesto"].ToString().Equals("Gerente") || Session["userPuesto"].ToString().Equals("Supervisor"))
    {
        Layout = "~/Views/Shared/_EmpleadoLayout.cshtml";
    }
}

<div class="container pt-3">
    <div class="row">
        <div class="col-sm">
            <h2>Nueva orden</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.total, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.total, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.total, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        </div>

        <div class="col-sm">
            <h2>Aquí van los productos</h2>
        </div>
    </div>
</div>