﻿@model Fase2_ipcvacas.Models.ViewModels.CuentaViewModel
@{
    ViewBag.Title = "Ingresar";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div style="position:absolute; left: 40%; top: 20%; border: 1px solid #ccc; padding: 10px 10px">
    @using (Html.BeginForm("Ingresar", "Cuenta", FormMethod.Post))
    {
        <form>
            <div class="form-group">
                @Html.LabelFor(model => model.nit)
                @Html.EditorFor(model => model.nit, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingresar NIT"} })
                @Html.ValidationMessageFor(model => model.nit, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.pass)
                @Html.EditorFor(model => model.pass, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingresar NIT" } })
                @Html.ValidationMessageFor(model => model.nit, null, new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>
        <div class="small text-red">
            @Html.ViewData["Mensaje"]
        </div>
    }
</div>