﻿@model System.Data.DataTable
@{
    ViewBag.Title = "ListarClientes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    System.Data.DataTable Personas = Session["TablaPersonas"] as System.Data.DataTable;
    System.Data.DataTable Empresas = Session["TablaEmpresas"] as System.Data.DataTable;
}

<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-lg-6">
            <div class="text-center">
                <h2>Personas</h2>
            </div>

            <div class="text-center pb-3">
                @using (Html.BeginForm("CargarClientes", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <p>Cargar clientes(personas o empresas)(.xml)</p>
                    <input type="file" name="file" />
                    <input type="submit" name="Submit" id="Submit" value="Subir" />
                }
            </div>

            <table class="table table-bordered text-center table-hover table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#NIT</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Password</th>
                        <th scope="col">Fecha Nac.</th>
                        <th scope="col">Número Dom.</th>
                        <th scope="col">Número cel.</th>
                        <th scope="col">Corrreo</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Dirección</th>
                    </tr>
                </thead>

                <tbody>
                    @for (int i = 0; i < Personas.Rows.Count; i++)
                    {
                        <tr>
                            <th scope="row">@Personas.Rows[i][0] </th>
                            <td>@Personas.Rows[i][1] </td>
                            <td>@Personas.Rows[i][2]</td>
                            <td>@Personas.Rows[i][3]</td>
                            <td>@Personas.Rows[i][4]</td>
                            <td>@Personas.Rows[i][5]</td>
                            <td>@Personas.Rows[i][6]</td>
                            <td>@Personas.Rows[i][7]</td>
                            <td>@Personas.Rows[i][8]</td>
                            <td>@Personas.Rows[i][9]</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col-lg-6">
            <div class="text-center">
                <h2>Empresas</h2>
            </div>

            <div class="text-center pb-3">
                ...
            </div>

            <table class="table table-bordered text-center table-hover table-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#NIT</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Password</th>
                        <th scope="col">Fecha Inicio.</th>
                        <th scope="col">Número Dom.</th>
                        <th scope="col">Número cel.</th>
                        <th scope="col">Corrreo</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Dirección</th>
                    </tr>
                </thead>

                <tbody>
                    @for (int i = 0; i < Empresas.Rows.Count; i++)
                    {
                        <tr>
                            <th scope="row">@Empresas.Rows[i][0] </th>
                            <td>@Empresas.Rows[i][1] </td>
                            <td>@Empresas.Rows[i][3]</td>
                            <td>@Empresas.Rows[i][4]</td>
                            <td>@Empresas.Rows[i][5]</td>
                            <td>@Empresas.Rows[i][6]</td>
                            <td>@Personas.Rows[i][7]</td>
                            <td>@Personas.Rows[i][8]</td>
                            <td>@Personas.Rows[i][9]</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>