﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <a class="navbar-brand" href="/">DIPROMA - Administrador</a>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a href="@Url.Action("IncioAdmin", "Admin")" class="nav-link">Inicio</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "Empleado")" class="nav-link">Empleados</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "Producto")" class="nav-link">Productos</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "Cliente")" class="nav-link">Clientes</a></li>
                    <li class="nav-item"><a href="/Home/Contact" class="nav-link">Reportes</a></li>
                    <li class="nav-item"><a href="/" class="nav-link">Vehículos</a></li>
                </ul>
            </div>
            <div id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a href="@Url.Action("Salir", "Cuenta")" class="nav-link">Salir</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="conteiner body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
