﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <p>aqui va el logo de la página</p>
        </div>

        <div class="col-sm">
            <div class="jumbotron">
                <div class="container">
                    <div class="form-group">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>